/* reset template */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --Tomato: hsl(4, 100%, 67%);
    --DarkSlateGrey: hsl(234, 29%, 20%);
    --CharcoalGrey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
    --standardSpacing: 1rem;
    --largeSpacing: 2rem;
    --borderRadius: 20px; 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none; 
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
    font-weight: normal;
}

p {
    text-wrap: pretty; 
    max-width: 75ch;
    margin-bottom: 2rem;
    line-height: 1.5rem;
    color: hsl(234, 29%, 20%);
}

img,
picture,
svg,
video {
    max-width: 100%;
    display: block; 
    height: auto; 
}

button,
input,
form {
    font: inherit;
}

/* main styling */
main {
    background-color: var(--CharcoalGrey);
    min-height: 100vh;
} 

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1em 2em; 
    min-width: 60vw;
    border-radius: 20px;
}

/* inside container styling */
.textContainer {
    margin-right: 1em
}

.textContainer h1 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--DarkSlateGrey);
    letter-spacing: 3px;
    margin-bottom: var(--standardSpacing);
    margin-top: 2rem;
}

.list p {
    margin-left: var(--largeSpacing);
}

.list {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
}

.list img {
    margin-right: 1rem;
    position: absolute;
}

.imgRight img {
    width: 25vw;
}

/* form styling */
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    margin-right: 2em;
    margin-bottom: 2rem;
}

input[type='email'] {
    border: .5px solid hsl(231, 7%, 60%);
    padding: .8rem 2rem;
    border-radius: 5px;
}

.emailSubmit label {
    font-size: .8rem;
    font-weight: 700;
}

.submitBtn {
    padding: 1em;
    color: white;
    font-weight: 700;
    background-color: var(--DarkSlateGrey);
    border-radius: 10px;
    border: unset;
    transition: .3s ease-in;
    width: 30vw;
}

.submitBtn:hover {
    box-shadow: 0 10px 20px #ff195e94;
    background-image: linear-gradient(to right, rgba(255, 0, 106, 0.932),rgb(253, 147, 48));
    transform: scale(105%);
}

::placeholder {
    position: absolute;
    left: 0;
    margin-left: 5px;
}

.invalidMail {
    border: none;
    background-color: rgba(253, 119, 119, 0.274);
    color: rgb(255, 13, 13);
    padding: .8rem 2rem;
    border-radius: 5px;
}

.valid {
    border: none;
    background-color: rgba(138, 248, 156, 0.582);
    color: rgb(7, 7, 7);
    padding: .8rem 2rem;
    border-radius: 5px;
}

/* success page */
.containerSuccess {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 3em 5em; 
    width: 40vw;
    border-radius: 20px;
}